*{margin:0px;
  padding:0px;
}
#main{
	height:500px;
	width:800px;
	padding:20px;
	background-color:#CCC;
	position:relative;	

}
#submit{
	padding:10px 20px;
	background-color:red;
	font-size:14px;
	color:#FFF;	
	border:none;
	position:absolute;
	margin-top:5px;
	
}
#box{
	width:100px;
	height:100px;
	background-color:var box=document.getElementById("box");
	background-color:#FFF;
	border:2px solid #000;
	margin-top:40px;
	
}
#side{
	width:250px;
	height:150px;
	padding:20px 30px;
	background-color:#FFF;
	position:absolute;
	right:50px;
	bottom:50px;
	text-align:center;
	display: none;	
}
#red{
	background-color:#6F0;
	width:30px;
	height:30px;
	color:#FFF;
	border:none;
	}
#yellow{
	background-color:#FC0;
	width:30px;
	height:30px;
	color:#FFF;
	border:none;
	}
#blue{
	background-color:#6CF;
	width:30px;
	height:30px;
	color:#FFF;
	border:none;
	}
.orange{
	height:30px;
	width:30px;
    background-color:#f7f7f7;
	color:#000;
	border:none;
	margin-top:5px;
	border:1px solid #CCCCCC;
}

.foot{
	height:25px;
	width:50px;
	background-color:#1D4870;
	color:#fff;
	font-size:16px;
	border:none;
	margin-top:10px;
}