#whole{
	width: 892px;
	height: 1386px;
	padding-left: 44px;
	padding-right: 44px;
	margin: 0 auto;
	border: solid 1px black;
}
*{
	margin: 0;
	padding: 0;
}
div #header {
	width: 100%;
	height: 61px;
	border-bottom: solid 2px #938e8c;
	position: relative;

}
#left {
	height: 61px;
    width: 110px;
	background-color: #d45d5c;
}
#left span{
	font: 12px "黑体";
	color: #fff;
	line-height: 98px;
}
#right{	
    position: absolute;
    top: 49px;
    right: 0px;
    line-height: 98px;
	font: 12px "黑体";
	color: #d45d5c;
}
#about{
	width: 203px;
	height: 301px;
	border-top: solid 2px #cc8091;
	float: right;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}
#about h2{
	font-size: 24px;
	color: #000;
	font-family:'微软雅黑';
	text-decoration: underline;
	line-height: 40px;
}
#about span{
	position: absolute;
	font-family: "微软雅黑";
	color: #cc8091;
}
#about .num1{
	font-size: 55px;
	bottom: 0px;
}
#about .num2{
	font-size: 21px;
	bottom: 22px;
	left: 80px;
}
#about .num3{
	font-size: 12px;
	left: 80px;
	bottom: 11px;
}
#topleft{
	width: 641px;
	margin-top: 20px;
	margin-right: 251px;
}
#topleft img{
	width: 641px;
	height: 301px;
	margin-bottom: 40px;
}
#what{
	width: 251px;
	height: 193px;
	overflow: hidden;
	margin-right: 20px;
	float: left;
}
#when{
	width: 200px;
	height: 193px;
	overflow: hidden;
	margin-right: 20px;
	float: left;
	opacity: 0.7;
}
#how{
	width: 150px;
	height: 193px;
	overflow: hidden;
	float: left;
}
#how ul{
	font-size: 12px;
	color: #231815;	
	line-height:16px;
}
#how ul li{
	list-style: none;
	font-family: "微软雅黑"；
}
#how ul li span{
	font-size: 12px;
	color: #cd4a48;
	font-family: "微软雅黑";
	font-style: italic;
	opacity: 0.7;
}
#btright{
	width: 458px;
	float: right;
	margin-top: 60px;
	overflow: hidden;
}
#btright img {
	display: inline-block;
	width: 458px;
	height: 275px;
}
#btright2{
	width: 458px;
	height: 318px;
	background-color: #eeedd6;
	overflow:hidden;
	margin-top: 30px;
}
#btright2 li{
	list-style: circle;
}
.qd1{
	text-align: left;
	font-size: 16px ;
	color: #5a5b5b;
	font-family: "宋体";
	line-height: 40px;
}
.qd2{
	text-align: right;
	font-size:12px;
	color: #5a5b5b;
	font-style: italic;
	font-family: "宋体";
	line-height: 40px;
}
#pink{
	width: 260px;
	height: 160px;
	background-color: #d45d5c;
	float: left;
}
.th{
	font-size: 21px;
	color: #fff;
	font-family: "黑体";
	font-style: italic;
	text-align: left;
}
.td{
	font-size: 12px;
	color: #fff;
	font-family: "黑体";
	font-style: italic;
	text-align: left;
}
#hello{
	height: 160px;
	width: 178px;
	margin:0 10px;
	float: left;
	font-size: 14px;
	color: #5a5b5b;
	font-family: "黑体";
	font-style:italic;
}
#hello span {
	color: #d45d5c;
	font-family: "黑体";
	font-size: 20px;
}
#the{
	width: 415px;
	height: 168px;
	border-bottom: 2px solid #11456b;
	color: #11456b;
	font-family: "黑体";
	font-weight: bold;
    float: right;
    margin-top: 60px;
    margin-right: 15px;
    overflow: hidden;
}
#qian{
	width: 415px;
	height: 443px;
	font-size: 12px;
	color: #767777;
	font-family: "宋体";
	overflow: hidden;
	position: relative;
	line-height: 16px;
	}
#qian img{
	width: 200px;
	height: 320px;
	position: absolute;
	top: 100px;
	right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#qian p span{
	float: left;
	font-size: 70px;
	color: #f5e327;
	font-family: "微软雅黑";
	margin-right: 10px;
	margin-bottom: 25px;
	margin-top: 20px;
}
#qian p{
	clear: left;
}
#footer{
	width: 100%;
	height: 41px;
	margin-top: 20px;
	border-top: solid 1px #938e8c;
	position: relative;
}
#footer span {
	color: #d45d5c;
	font-size: 12px;
	font-family: "黑体";
	position: absolute;
	top: 0px;
	right: 0px;
}
