#page{
	border: solid 1px black;
	position: relative;
	overflow: auto;
	height: 1000px;
}

#main{
	height: 200px;
	width: 400px;
	background: #ccc;
	vertical-align: center;
	margin: auto;
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#left{
	position:absolute;
	left: 0px;
	top: 0px;
}

#right{
	position: absolute;
	right: 0px;
	bottom: 0px;
}